certifi==2021.5.30
chardet==4.0.0
clarifai-grpc==7.4.0
click==8.0.1
fatsecret==0.2.3
Flask==1.1.2
googleapis-common-protos==1.53.0
grpcio==1.38.1
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
protobuf==3.17.3
rauth==0.7.3
requests==2.25.1
six==1.16.0
urllib3==1.26.6
Werkzeug==2.0.1
