{% extends 'base_template.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>
    Recognize My Food
    </h1>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <!--
                    <input type="file" name="file" autocomplete="off" required> 
                -->
                
                <!--
                    <label class="custom-file-upload">
                    <input type="file" name="file" autocomplete="off" required />
                    Upload File
                </label>

                -->
                Step 1: 

                <div class="box">
					<input type="file" name="file" autocomplete="off" required id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
					<label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
				</div>
                
            </p>
        </dl>
        <p>
            Step 2: 
            <div>
            <input type="submit" value="Analyze">
            </div>
        </p>
    </form>
    <p >
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            
          {% endif %}
        {% endwith %}
    </p>

    {% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}" height="256" >
	</div>
    
    {% endif %}

    

    {% if filename %}
    <h3>Results: </h3>
	<p>
        {{text|safe}}
    </p>
    {% endif %}


    <script src="{{ url_for('static', filename='js/custom-file-input.js') }}"></script>
{% endblock %}